<!-- <h1>Heroe Component Works</h1> -->
<h1>{{nombre}}</h1>

<dl>
    <td>Nombre:</td>
    <dd>{{nombre}}</dd>

    <td>Edad:</td>
    <dd>{{edad}}</dd>

    <td>Funcion:</td>
    <dd>{{descripcionHeroe()}}</dd>

    <td>Capitalizado:</td>
    <dd>{{nombreCapitalizado}}</dd>

</dl>

<button 
*ngIf="nombre !== 'Batman'"
class="btn btn-primary mx-2" 
(click)="cambiarHeroe()">
    Cambiar Héroe
</button>

<button 
*ngIf="edad !== 45"
class="btn btn-primary mx-2" 
(click)="cambiarEdad()">
    Cambiar Edad
</button>

<button 
class="btn btn-primary" 
(click)="resetForm()">
    Reset form
</button>